*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**The part for landing page**/
.landing-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ededec;
    flex-wrap: wrap;
}

.right-box {
    background-color: #df2c14;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-box h3 {
    text-align: center;
    text-decoration: underline;
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 50px;
}

.right-box img {
    width: 300px;
    height: 400px;
    border-radius: 15px;
}

.right-box a {
    margin-top: 50px;
    color: #ffffff;
    border-radius: 8px;
    border: 2px solid #494E61;
    transition: 0.5s ease-in-out;
    background: linear-gradient(to right, #494E61, #df2c14);
    text-decoration: none;
    font-size: 40px;
    font-weight: 900;
    padding: 5px 10px;
    text-align: center;
}

.right-box a:hover {
    background: linear-gradient(to right, #494E61, #494E61);
    transform: scale(1.2);
    opacity: 1;
}

.left-box {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marvel-studio {
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: 900;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.marvel-studio .marvel {
    background-color: #df2c14;
    color: #fff; 
    text-decoration: none;
}

.studio {
    background-color: #ededec;
    border-top:  2px solid black;
    border-bottom: 2px solid black;
    margin: 5px;
}

.landing-video iframe {
    justify-content: center;
    height: 315px;
    background-color: #000;
    margin-top: 70px;
    border-radius: 8px;
}

.know-heroes-btn-c {
    justify-content: center;
    padding: 15px 20px;
    margin-top: 40px;
    font-size: 25px;
    border: 2px solid  #df2c14;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.know-heroes-btn-c:hover {
    background-color: #f55050;
    transform: scale(1.2);
}
/**The part for page1**/
/**The part for page2**/
/**Heroes page**/
nav, .menu {
    display: flex;
}

#desktop-nav {
    /**To be removed**/
    margin-top: 70px;
    /**To be removed**/
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 12vh;
    color: #ffffff;
    background: linear-gradient(to right, blue, red)
}

.logo {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

.logo h2 {
    border: 1px solid #ffffff;
}

.logo h4 {
    margin-left: 15px;
    margin-top: 5px;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

.nav-menu a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.nav-menu a:hover {
    color: #f1cfcf;
    border-bottom: 2px solid #1708f1;
}